header {
  padding: 30px 0 20px;
  position: relative;
}

.head {
  display: flex;
}

.head_logo {
  padding-right: 100px;
}

.head_search {
  display: inline-block;
  vertical-align: middle;
  padding-right: 100px;
  .search_input {
    display: flex;
    text-align: left;
    background-color: #fff;
    width: 100%;
    height: 40px;

    .search_input_left {
      min-width: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      .search_option {
        position: absolute;
        top: 41px;
        left: 0;
      }
      >* {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        letter-spacing: 0;
        word-spacing: 0;
        margin-right: 10px;
      }
    }
    .search_input_middle {
      input {
        margin-left: 1px;
        height: 40px;
        line-height: 40px;
        padding: 0 29px;
        width: 600px;
        border: none;
      }
    }
    .search_input_right {
      width: 46px;
      border-radius: 0 4px 4px 0;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background: #4d82b8;
      text-align: center;
      cursor: pointer;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
    }
  }
  .search_btm {
    >* {
      padding-right: 20px;
    }
  }
}

.head_icons {
  display: flex;
  text-align: center;
  .icon {
    width: 48px;
    margin-right: 30px;
  }
  .item {
    display: inline-block;
    font-size: 30px;
    color: #3e3e3e;
  }
}

.navigation {
  background-color: #fff;
  cursor: pointer;
  >* {
    letter-spacing: 0;
    word-spacing: 0;
  }
  ul {

  }
  .category {
    display: flex;
  }

  .nav_l {
    width: 240px;

    ul {

      width: 257px;
      height: 455px;
    }
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid transparent;
      border-right: none;
      display: block;
      width: 100%;
      height: 35px;
      line-height: 30px;
      font-size: 13px;
      position: relative;
      transition: padding .5s ease;
    }
    .icon_title {

      padding: 0 10px;
    }

    .icon_right {
      float: right;
      padding-right: 10px;
    }
    .nav_title {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
    }
    .nav_bar {
      position: absolute;
      background: rgba(255,255,255,.8);
      z-index: 2;
    }
    .nav_icon {
      padding-right: 10px;
    }
  }
  .nav_r {
    display: inline-flex;

    li {
      line-height: 57px;
      font-size: 14px;
      color: #333;
      text-align: left;
      padding: 0 43px;
      padding-right: 10px;
    }

    span {
      font-size: 14px;
      padding-right: 10px;
    }

    :hover svg {
      transform-origin: center center;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transition: transform 0.2s; //过度时间 可调
      -moz-transition: -moz-transform 0.2s;
      -o-transition: -o-transform 0.2s;
      -ms-transition: -ms-transform 0.2s;
    }

  }


}

