header {
  padding-top: 40px;
}
.search_bottom {

}
.search {
  display: inline-block;
  vertical-align: middle;
}
.search_input {
  position: relative;
  display: table;
  text-align: left;
  font-size: 0;
  letter-spacing: -3px;
  word-spacing: -3px;
  width: 489px;
  background-color: #fff;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
  }